

.course-card {
    margin: 20px 10px;
}

.course-actions {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;

    .align {
        display: flex;
        align-items: center;
    }



}


