:host {
  .card-main-content,
  .loading-container {
    min-height: 100px;
    margin-top: 24px;
  }

    .loading-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 60px;
      margin: auto;
    }
}