<content-card [title]="'Cursos'" [subtitle]="'Lista de cursos básicos e vançados'">
    <div class="courses-panel" main-content>
        <mat-tab-group>

            <mat-tab label="Beginners">

                <courses-card-list [courses]="beginnerCourses$ | async">

                </courses-card-list>

            </mat-tab>

            <mat-tab label="Advanced">

                <courses-card-list [courses]="advancedCourses$ | async">

                </courses-card-list>


            </mat-tab>

        </mat-tab-group>



    </div>

</content-card>