<content-card [title]="'Cursos'" [subtitle]="'Lista de cursos básicos e vançados'">

    <div menu-buttons>
        <button matTooltip="Editar opção" mat-button color="primary" (click)="addCourse()">
            <mat-icon class="mr-2">add</mat-icon>
            <span> Adicionar Curso</span>
        </button>
    </div>
    <div class="courses-panel" main-content>
        OI {{coursesStore.userTest$ | async}}
        <input matInput placeholder="Novo Nome" #newName>
        <button mat-button (click)="editName(newName.value)">Mudar</button>
        <mat-tab-group>

            <mat-tab label="Beginners">

                <courses-card-list [courses]="beginnerCourses$ | async">

                </courses-card-list>

            </mat-tab>

            <mat-tab label="Advanced">

                <courses-card-list [courses]="advancedCourses$ | async">

                </courses-card-list>


            </mat-tab>

        </mat-tab-group>



    </div>

</content-card>